// Below is a sample of rclone.conf file. Encrypt it using base64 and set the result to CONFIG_BASE


[FROM]
... // config to download files


[TO]
... // config to upload extracted files
root_folder_id = ...


[BACKUP]
... // config to backup files
root_folder_id = ...
